<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="../images/train.png"/>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Choose your destination</title>
  </head>
  <body>
    <%- include('header');%>

    <!-- CAROUSEL -->
    <div class="col-xl-12rounded">
      <div id="titleCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active" id="c-one"></div>
              <div class="carousel-item" id="c-two"></div>
              <div class="carousel-item" id="c-three"></div>
              <div class="carousel-item" id="c-four"></div>
              <div class="carousel-item" id="c-five"></div>
              <div class="carousel-item" id="c-six"></div>

          </div>
      </div>


      <!-- CONTENT -->
      <div class="container d-flex justify-content-center col-8 mt-5">
        <div class="row d-flex flex-row bg-white shadow p-3 rounded">
          <!-- FORM -->
          <form action ='/results' method='POST' class="row-fluid col-12">
            <h2 class="text-danger mb-3 title col-12">One way ticket :</h2>
            <!-- INPUT DIV -->
            <div class='d-flex flex-wrap justify-content-between align-items-center mb-3'>
              <div class="p-1 m-0 col-12 col-md-6 col-lg-3" >
                  <input
                    type="text"
                    name ="departure"
                    class="form-control"
                    placeholder="From: Paris, Marseile..."
                    aria-label="departure"
                  />
                </div>
                <div class="p-1 m-0 col-12 col-md-6 col-lg-3">
                  <input
                    type="text"
                    name ="arrival"
                    class="form-control"
                    placeholder="To: Lilles, Nantes ..."
                    aria-label="destination"
                  />
                </div>
                <div class="p-1 col-10 col-sm-10 col-md-10 col-lg-3 ">
                  <input
                    type="date"
                    name="date"
                    class="form-control"
                    placeholder="To: Lilles, Nantes ..."
                    aria-label="Last name"
                  />
                </div>
                <!-- SUBMIT BUTTON -->
                  <button type="submit" class="btn btn-danger col-2 m-auto p-1">Go</button>
                </div>
              </div>

            
              </form>
        </div>

              <!-- SUCCESS POPUP -->
              <div class="row justify-content-center mt-5">
                <%if(success){%>
                    <div class="card d-flex flex-column text-center align-items-center p-3 mb-2 col-8 col-md-6 col-lg-4 ">
                      <h4 class="text-danger">Thanks for your order !</h4>
                      <p>You can check your order in My Last Trips
                        <br>Or you can book another trip :)
                      </p>
                      <a class="m-2" href="/users/last-trips">
                        <button type="button" class="btn btn-danger">My Last Trips</button></a>
                    </div>
                  <%}%>
                </div>
  </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
