
<!-- HEADER -->
<header>
<nav class="navbar bg-light shadow" height="70px">
    <div class="container-fluid d-flex justify-content-between m-1">
      <a class="navbar-brand d-flex align-items-center" href="/booking">
        <img src="../images/train.png" alt="" width="20" height="22" class="me-2">
        <p class='logo mb-0'>ticketac</p>
      </a>
      
      <div class="d-flex">
        <a href='/users/last-trips' class="m-2 nav-link text-danger fw-bold">My Last Trip</a>
        <a href='/login' class="m-2 nav-link text-danger fw-bold">Log in</a>
        <a href='/logout' class="m-2 nav-link text-danger fw-bold">Log out</a>

      </div>
    </div>
  </nav>
</header>

