
<!-- HEADER -->
<nav class="navbar bg-light">
    <div class="container-fluid justify-content-between m-3">
      <a class="navbar-brand" href="/booking">
        <img src="../images/train.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Ticketac
      </a>
      
      <div class="d-flex">
        <a href='/' class="m-2 nav-link text-danger">Connection</a>
        <a href='/users/last-trips' class="m-2 nav-link">My Last Trip</a>
      </div>
    </div>
  </nav>

