<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Ticketac RailRoad Corporation</title>
    <script src="https://kit.fontawesome.com/3ed291fefe.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../images/train.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header');%>
    <div class="container-fluid">
      <div class=" row justify-content-center mt-5">
        <%if(errorMsg){%>
          <div class="card d-flex flex-column justify-content-between align-items-center p-3 mb-2 col-3 ">
            <h6 class="text-center text-danger"><i class="fa-solid fa-circle-exclamation"></i></br>
            </br>
              <%=errorMsg%></h6>
          </div>
        <%}%>
        </div>
        <div class=" row justify-content-center mt-5">
      <div class="col d-flex flex-column justify-content-start col-10 col-lg-3 m-1">
        <h2 class="text-center text-danger title"> Sign in :</h2>
        <form action="/users/sign-in" method="POST">
          <div class="form-group m-3">
            <input type="email" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group m-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="form-group m-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mb-2">Sign in</button>
          </div>
        </form>
      </div>

      <div class="col d-flex flex-column justify-content-start col-10 col-lg-3 m-1">
        <h2 class="text-center text-danger title"> Sign up :</h2>
        <form action="/users/sign-up" method="POST">
          <div class="form-group m-3">
            <input type="text" class="form-control" name="lastname" placeholder="Name">
          </div>
          <div class="form-group m-3">
            <input type="text" class="form-control" name="firstname" placeholder="First Name">
          </div>
          <div class="form-group m-3">
            <input type="email" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group m-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="form-group m-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mb-2">Sign up</button>
          </div>
        </form>
      </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
